<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <property name="CONSOLE_PATTERN">%highlight{%d %-5level [%t] --- %-40.40c{1.}: %msg%n%throwable}</property>
        <property name="FILE_PATTERN">%d %-5level [%t] --- %-40.40c{1.}: %msg%n%throwable</property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>
        </Console>

        <RollingFile name="RollingFile"
                     fileName="./logs/aitalk-im.log"
                     filePattern="./logs/$${date:yyyy-MM}/aitalk-im-%d{-dd-MMMM-yyyy}-%i.log.gz">
            <PatternLayout>
                <pattern>%d %p %C{1.} [%t] %m%n</pattern>
            </PatternLayout>
            <Policies>
                <!-- rollover on startup, daily and when the file reaches
                    10 MegaBytes -->
                <OnStartupTriggeringPolicy/>
                <SizeBasedTriggeringPolicy
                        size="10 MB"/>
                <TimeBasedTriggeringPolicy/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- LOG everything at INFO level -->
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="RollingFile"/>
        </Root>

        <Logger name="com.aihangxunxi" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
    </Loggers>

</Configuration>